
{% load static %}
<header class="section-header">

<div class="page-wrapper">
<header class="header">
<div class="header-top">
<div class="container">

</div><!-- End .header-top -->

<div class="header-middle sticky-header">
<div class="container">
<div class="header-left">
<button class="mobile-menu-toggler">
<span class="sr-only">Toggle mobile menu</span>
<i class="icon-bars"></i>
</button>

<a href="index.html" class="logo">
<img src="{% static 'assets/images/icons/zamalogo.jpg' %}" alt="Molla Logo" width="150" height="25" >

</a>

<nav class="main-nav">
<ul class="menu sf-arrows">
<li class="megamenu-container active" style= "margin-left: -30px;">
<a href="{% url 'home' %}">Home</a>

</li>

<li>
<a href="product.html" class="sf-with-ul" style= "margin-left: -30px;">Product</a>

<div class="megamenu megamenu-sm">
<div class="row no-gutters">
<div class="col-md-6">
<div class="menu-col">
    <div class="menu-title">Product Details</div><!-- End .menu-title -->
    <ul>
        <li><a href="product.html">Default</a></li>
        {% for category in links %}
    <li><a  href="{{ category.get_url }}">{{ category.category_name }} </a></li>
        {% endfor %}
    
    
    </ul>
</div><!-- End .menu-col -->
</div><!-- End .col-md-6 -->

<div class="col-md-6">
<div class="banner banner-overlay">
    <a href="category.html">
        <img src="assets/images/menu/banner-2.jpg" alt="Banner">

        <div class="banner-content banner-content-bottom">
            <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div><!-- End .banner-title -->
        </div><!-- End .banner-content -->
    </a>
</div><!-- End .banner -->
</div><!-- End .col-md-6 -->
</div><!-- End .row -->
</div><!-- End .megamenu megamenu-sm -->
</li>
<li>
<a href="#" class="sf-with-ul" style= "margin-left: -20px;">Pages</a>

<ul>
<li>
<a href="about.html" class="sf-with-ul">About</a>

<ul>
<li><a href="about.html">About 01</a></li>
<li><a href="about-2.html">About 02</a></li>
</ul>
</li>
<li>
<a href="contact.html" class="sf-with-ul">Contact</a>

<ul>
<li><a href="contact.html">Contact 01</a></li>

</ul>
</li>
<li><a href="login.html">Login</a></li>
<li><a href="faq.html">FAQs</a></li>

</ul>
</li>



</ul><!-- End .menu -->
</nav><!-- End .main-nav -->
</div><!-- End .header-left -->

<div class="header-center" style="width: 450px; margin-left: 6px;">
<div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
<a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
<form action="{% url 'search' %}" method="get">
<div class="header-search-wrapper search-wrapper-wide">
<label for="q" class="sr-only">Search</label>
<input type="search" class="form-control" name="keyword" placeholder="Search product ..." required >
<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
</div><!-- End .header-search-wrapper -->
</form>
</div><!-- End .header-search -->
</div>

<div class="header-right">
   {% if user.id is None %}
           <a href="#" class="nav-link account-link" 
            style="display:flex; flex-direction:column;   color:#444;">

            <i class="icon-user" 
            style="font-size:30px; color:#6a7745;"></i>

            <span style="font-size:13px;">Login</span> 
            </a>
          {% else %}
          <div class="widget-header"  style="margin-right: -12px;" display: flex; justify-content: flex-end>
            <small class="title text-muted" style="font-size:12px;">Welcome {{user.first_name}}!</small>
        <div>

              <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"
                style="font-size:20px; color:#6a7745;"></i> Logout</a>

            </div>
          </div>
        </div>
        {% endif %}


<div class="dropdown cart-dropdown">

<a href="{% url 'cart' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
<i class="icon-shopping-cart"></i>
<span class="cart-count">{{ cart_count }}</span>
</a>


<div class="dropdown-menu dropdown-menu-right">
    
{% if not cart_items %}
<h6 class="text-center">Your Shopping Cart is Empty</h6>
<br>
<div class="text-center">
<a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
</div>
{% else %}
<div class="dropdown-cart-products">
{% for cart_iteam in cart_items %}
<div class="product">
<div class="product-cart-details">
<h4 class="product-title">
<a href="product.html">{{cart_iteam.product.product_name }}</a>
</h4>

<span class="cart-product-info">
<span class="cart-product-qty">1</span>
x $84.00
</span>
</div><!-- End .product-cart-details -->

<figure class="product-image-container">
<a href="product.html" class="product-image">
<img src="{{  cart_iteam.product.images.url  }}" alt="product">
</a>
</figure>
<a href="{% url 'remove_cart_item' cart_iteam.product.id cart_iteam.id %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
</div><!-- End .product -->
{% endfor %}


</div><!-- End .cart-product -->

<div class="dropdown-cart-total">
<span>Total</span>

<span class="cart-total-price">{{ total }}</span>
</div><!-- End .dropdown-cart-total -->

<div class="dropdown-cart-action">
<a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
<a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
</div><!-- End .dropdown-cart-total -->
 {% endif %} 
</div><!-- End .dropdown-menu -->
</div><!-- End .cart-dropdown -->

</div><!-- End .header-right -->
</div><!-- End .container -->
</div><!-- End .header-middle -->
</header><!-- End .header -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<div class="mobile-menu-container mobile-menu-light">
<div class="mobile-menu-wrapper">
<span class="mobile-menu-close"><i class="icon-close"></i></span>

<form action="{% url 'search' %}"  method="get" class="mobile-search">
<label for="mobile-search" class="sr-only">Search</label>
<input type="search" class="form-control"  name="keyword" placeholder="Search product ..." required>
<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
</form>

<ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
</li>
<li class="nav-item">
<a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
</li>
</ul>

<div class="tab-content">
<div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
<nav class="mobile-nav">
<ul class="mobile-menu">
<li class="active">
<a href="index.html">Home</a>


</li>
<li>
<a href="category.html">Shop</a>
<ul>

<li><a href="cart.html">Cart</a></li>
<li><a href="checkout.html">Checkout</a></li>
<li><a href="wishlist.html">Wishlist</a></li>

</ul>
</li>
<li>
<a href="product.html" class="sf-with-ul">Product</a>
<ul>
<li><a href="product.html">Default</a></li>
<li><a href="product-centered.html">Centered</a></li>
<li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
<li><a href="product-gallery.html">Gallery</a></li>

</ul>
</li>
<li>
<a href="#">Pages</a>
<ul>
<li>
<a href="about.html">About</a>

<ul>
<li><a href="about.html">About 01</a></li>
<li><a href="about-2.html">About 02</a></li>
</ul>
</li>
<li>
<a href="contact.html">Contact</a>

<ul>
<li><a href="contact.html">Contact 01</a></li>

</ul>
</li>
<li><a href="login.html">Login</a></li>
<li><a href="faq.html">FAQs</a></li>

<li><a href="coming-soon.html">Coming Soon</a></li>
</ul>
</li>
<li>



</ul>
</nav><!-- End .mobile-nav -->


</div><!-- .End .tab-pane -->
<div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
<nav class="mobile-cats-nav">
<ul class="mobile-cats-menu">
<li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
<li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>
<li><a href="#">Beds</a></li>
<li><a href="#">Lighting</a></li>
<li><a href="#">Sofas & Sleeper sofas</a></li>
<li><a href="#">Storage</a></li>
<li><a href="#">Armchairs & Chaises</a></li>
<li><a href="#">Decoration </a></li>
<li><a href="#">Kitchen Cabinets</a></li>
<li><a href="#">Coffee & Tables</a></li>
<li><a href="#">Outdoor Furniture </a></li>
</ul><!-- End .mobile-cats-menu -->
</nav><!-- End .mobile-cats-nav -->
</div><!-- .End .tab-pane -->
</div><!-- End .tab-content -->

<div class="social-icons">
<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
</div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->






</div><!-- End .modal-body -->
</div><!-- End .modal-content -->
</div><!-- End .modal-dialog -->
</div><!-- End .modal -->


</header> <!-- section-header.// -->
