
{% extends 'base.html' %}
{% load static %}

{% block banner %}{% endblock banner %}


{% block content %}




<main class="main">

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
               
                <form action="{% url 'place_order' %}" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-7">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" name="first_name" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" name="last_name" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

        

                                <label>Street address *</label>
                                <input type="text" name="address_line_1" class="form-control" placeholder="House number and Street name" required>
                                 <label>Street address 2</label>
                                <input type="text" name="address_line_2" class="form-control" placeholder="Appartments, suite, unit etc ..." required>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input type="text" name="city" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>State / County *</label>
                                        <input type="text" name="country" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Email address *</label>
                                        <input type="email" name="email" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Phone *</label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->


                                <label>Order notes (optional)</label>
                                <textarea class="form-control"  type="text" name="order_note"  cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->






                        <aside class="col-lg-5">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
{% for cart_iteam in cart_items %}
<tr>
    <!-- Product Column -->
    <td>
        <figure class="itemside align-items-center">
            <div class="aside">
                <img src="{{  cart_iteam.product.images.url  }}" class="img-sm">
            </div>
            <figcaption class="info">
                <a href="{{  cart_iteam.product.images.get_url }}" class="title text-dark">{{cart_iteam.product.product_name }}</a>
                <p class="text-muted small">
                    {% if cart_iteam.variations.all %}
						{% for item in cart_iteam.variations.all %}
							{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
						{% endfor %}
					{% endif %}
                </p>
            </figcaption>
        </figure>
    </td>
    <!-- Price Column -->
    <td>
        <div class="quantity-col" style="margin-left: 20px;">
            <var class="quantity">{{ cart_iteam.quantity }}</var>
         
        </div>
    </td>

    <!-- Price Column -->
    <td>
        <div class="price-wrap">
            <var class="price" style= "font-size: 15px;">{{ cart_iteam.sub_total }}</var><br>
            <small class="text-muted"> $ {{ cart_iteam.product.price }} each </small>
         
        </div>
    </td>



</tr>
{% endfor %}
</tbody>

</table><!-- End .table table-wishlist -->

            <div class="accordion-summary" id="accordion-payment">
                
                <div class="card">
                    <div class="card-header" id="heading-2">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                Check payments
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                        <div class="card-body">
                            Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

                <div class="card">
                    <div class="card-header" id="heading-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                Cash on delivery
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                        <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

                <div class="card">
                    <div class="card-header" id="heading-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                PayPal <small class="float-right paypal-link">What is PayPal?</small>
                            </a>
                        </h2>
                    </div><!-- End .card-header -->
                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                        <div class="card-body">
                            Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->

              
                    <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                        <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .card -->
            </div><!-- End .accordion -->

            <button type="submit"  name="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                <span class="btn-text">Place Order</span>
                <span class="btn-hover-text">Proceed to Checkout</span>
            </button>
            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                <a href="{% url 'store' %}"><span>CONTINUE SHOPPING</span></i></a>
                
            </button>

                            </div><!-- End .summary -->
                             </form>
                        </aside><!-- End .col-lg-3 -->
                    
                    </div><!-- End .row -->
            
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}
